#e8_24 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e8_25 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e8_26 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:0px;
	top:86px;
}#e8_27 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:232px;
	height:39px;
	position:absolute;
	left:65px;
	top:29px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e8_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 249.91135865449905, 249.91135865449905, 1);
	opacity:1;
	width:194px;
	height:73px;
	position:absolute;
	left:83px;
	top:183px;
}#e8_29 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:76px;
	height:25px;
	position:absolute;
	left:143px;
	top:209px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e8_30 { 
	opacity:1;
	width:53px;
	height:44px;
	position:absolute;
	left:83px;
	top:148px;
	background-image:url(images/ecute_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_11 { 
	opacity:1;
	width:283.4228515625px;
	height:46.807315826416016px;
	position:absolute;
	left:26px;
	top:449px;
}#e8_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(0.5688138452609954deg);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:0.4368104934692383px;
	top:0px;
}#e8_35 { 
	opacity:1;
	width:26px;
	height:32px;
	position:absolute;
	left:271px;
	top:459px;
	background-image:url(images/ealarm__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e8_37 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:25px;
	position:absolute;
	left:55px;
	top:459px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e8_31 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:28px;
	top:313px;
}#e8_32 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:87px;
	height:25px;
	position:absolute;
	left:40px;
	top:323px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e8_38 { 
	opacity:1;
	width:26px;
	height:32px;
	position:absolute;
	left:277px;
	top:320px;
	background-image:url(images/ealarm__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_15 { 
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:27px;
	top:381px;
}#e8_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}#e8_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:25px;
	position:absolute;
	left:14px;
	top:10px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e8_39 { 
	opacity:1;
	width:33px;
	height:30px;
	position:absolute;
	left:243px;
	top:10px;
	background-image:url(images/ealarm_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e8_40 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-24px;
	top:587px;
}#e8_41 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:94px;
	top:587px;
}#e8_42 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:208px;
	top:587px;
}#e13_10 { 
	opacity:1;
	width:29px;
	height:29.41428565979004px;
	position:absolute;
	left:319px;
	top:462px;
}#e13_4 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:29px;
	height:29.41428565979004px;
	position:absolute;
	left:0px;
	top:0px;
}#e13_9 { 
	opacity:1;
	width:19.885713577270508px;
	height:18.64285659790039px;
	position:absolute;
	left:4.557142734527588px;
	top:5.385714054107666px;
	background-image:url(images/e_pngtree_vector_plus_icon_4225174_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}