#e13_22 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e13_23 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e13_25 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:0px;
	top:85px;
}#e13_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(5.337119880947896deg);
	opacity:1;
	width:43.566097259521484px;
	height:42.68373489379883px;
	position:absolute;
	left:316.9702453613281px;
	top:505px;
	background-image:url(images/ecrab_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_40 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-105px;
	top:540px;
}#e13_41 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-22px;
	top:587px;
}#e13_42 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:214px;
	top:587px;
}#e13_43 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:294px;
	top:528px;
}#e13_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:62px;
	height:72px;
	position:absolute;
	left:154px;
	top:574px;
	background-image:url(images/ecoral_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_45 { 
	opacity:1;
	width:51px;
	height:46px;
	position:absolute;
	left:14px;
	top:454px;
	background-image:url(images/efish_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_46 { 
	opacity:1;
	width:39px;
	height:40px;
	position:absolute;
	left:56px;
	top:500px;
	background-image:url(images/efish_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:97px;
	height:34px;
	position:absolute;
	left:48px;
	top:319px;
}#e13_49 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:12px;
	top:325px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e13_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:97px;
	height:34px;
	position:absolute;
	left:216px;
	top:320px;
}#e13_51 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:180px;
	top:326px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e13_53 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:232px;
	height:39px;
	position:absolute;
	left:65px;
	top:23px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e13_59 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:268px;
	height:99px;
	position:absolute;
	left:50px;
	top:167.5px;
}#e13_60 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:211px;
	height:25px;
	position:absolute;
	left:78px;
	top:205px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e13_61 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:70px;
	height:25px;
	position:absolute;
	left:150px;
	top:230px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}