#e9_37 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e9_38 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e9_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:278px;
	height:96px;
	position:absolute;
	left:44px;
	top:168.5px;
}#e9_44 { 
	color:rgba(19.201247468590736, 18.578061908483505, 18.578061908483505, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:98px;
	top:194px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e9_40 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:91px;
	top:30px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e9_39 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:0px;
	top:84px;
}#e9_43 { 
	opacity:1;
	width:53px;
	height:44px;
	position:absolute;
	left:261px;
	top:131px;
	background-image:url(images/ecute_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e9_45 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-56px;
	top:522px;
}#e9_46 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:247px;
	top:519px;
}#e9_47 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:97px;
	top:556px;
}#e9_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:241px;
	height:39px;
	position:absolute;
	left:67px;
	top:320px;
}#e9_49 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:140px;
	height:25px;
	position:absolute;
	left:107px;
	top:327px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e9_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:37px;
	height:36px;
	position:absolute;
	left:49px;
	top:334px;
	background-image:url(images/estarfish_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}