#e5_226 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e5_230 { 
	background-color:rgba(7.513747215270996, 7.4264217261224985, 7.4264217261224985, 1);
	opacity:1;
	width:248px;
	height:1px;
	position:absolute;
	left:56px;
	top:266px;
}#e5_233 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:150px;
	height:111px;
	position:absolute;
	left:-27px;
	top:-13px;
}#e5_234 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:87px;
	top:-48px;
}#e5_235 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:236px;
	top:-36px;
}#e5_241 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-27px;
	top:605px;
}#e5_242 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:99px;
	top:605px;
}#e5_243 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:234px;
	top:602px;
}#e5_236 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:138px;
	height:46px;
	position:absolute;
	left:114px;
	top:314px;
}#e5_237 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:109px;
	height:30px;
	position:absolute;
	left:128px;
	top:325px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e5_238 { 
	opacity:1;
	width:47px;
	height:47px;
	position:absolute;
	left:33px;
	top:71px;
	background-image:url(images/eanimals_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e5_240 { 
	transform: rotate(-73.63009583164495deg);
	opacity:1;
	width:42.68336486816406px;
	height:45.862632751464844px;
	position:absolute;
	left:267px;
	top:447.95306396484375px;
	background-image:url(images/eclean_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e53_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:25px;
	position:absolute;
	left:166px;
	top:190px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}