#e6_19 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e6_20 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e6_21 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:0px;
	top:86px;
}#e6_22 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:94px;
	top:24px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e6_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 249.91135865449905, 249.91135865449905, 1);
	opacity:1;
	width:194px;
	height:73px;
	position:absolute;
	left:83px;
	top:183px;
}#e6_24 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:76px;
	height:25px;
	position:absolute;
	left:143px;
	top:209px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e6_25 { 
	opacity:1;
	width:53px;
	height:44px;
	position:absolute;
	left:220px;
	top:145px;
	background-image:url(images/ecute_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e6_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:41px;
	top:314px;
}#e6_29 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:87px;
	height:25px;
	position:absolute;
	left:53px;
	top:324px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e6_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:41px;
	top:450px;
}#e6_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:283px;
	height:44px;
	position:absolute;
	left:41px;
	top:381px;
}#e9_1 { 
	opacity:1;
	width:26px;
	height:32px;
	position:absolute;
	left:284px;
	top:385px;
	background-image:url(images/ealarm__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e6_30 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:82px;
	height:25px;
	position:absolute;
	left:55px;
	top:391px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e6_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:25px;
	position:absolute;
	left:55px;
	top:459px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e9_0 { 
	opacity:1;
	width:26px;
	height:32px;
	position:absolute;
	left:284px;
	top:321px;
	background-image:url(images/ealarm__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e9_2 { 
	opacity:1;
	width:33px;
	height:30px;
	position:absolute;
	left:282px;
	top:456px;
	background-image:url(images/ealarm_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e9_3 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-24px;
	top:587px;
}#e9_4 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:94px;
	top:587px;
}#e9_5 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:208px;
	top:587px;
}