#e13_85 { 
	overflow:hidden;
	background-color:rgba(229.00000154972076, 247.00000047683716, 247.00000047683716, 1);
	opacity:1;
	width:360px;
	height:640px;
	position:absolute;
}#e13_86 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e13_90 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:0px;
	top:84px;
}#e13_92 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:-56px;
	top:522px;
}#e13_93 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:247px;
	top:519px;
}#e13_94 { 
	border-radius:500px;
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:174px;
	height:139px;
	position:absolute;
	left:97px;
	top:556px;
}#e13_99 { 
	background-color:rgba(112.55319803953171, 228.51374924182892, 228.51374924182892, 1);
	opacity:1;
	width:268px;
	height:99px;
	position:absolute;
	left:46px;
	top:176.5px;
}#e13_100 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:178px;
	height:50px;
	position:absolute;
	left:97px;
	top:205px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e13_101 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:241px;
	height:39px;
	position:absolute;
	left:55px;
	top:310px;
}#e13_102 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:140px;
	height:25px;
	position:absolute;
	left:108px;
	top:317px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e13_103 { 
	opacity:1;
	width:53px;
	height:44px;
	position:absolute;
	left:65px;
	top:161px;
	background-image:url(images/ecute_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e13_104 { 
	color:rgba(251.87646120786667, 246.84771984815598, 246.84771984815598, 1);
	opacity:1;
	width:232px;
	height:39px;
	position:absolute;
	left:68px;
	top:21px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e13_106 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(5.337119880947896deg);
	opacity:1;
	width:43.566097259521484px;
	height:42.68373489379883px;
	position:absolute;
	left:274.9702453613281px;
	top:320px;
	background-image:url(images/ecrab_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}